<form action="/records/search" method="GET">
  <div class="container mt-3">
    <div class="d-flex row justify-content-center">
      <div class="col-md-3">
        <select name="Month">
          <option value="all">月份</option>
          <option value="01">一月</option>
          <option value="02">二月</option>
          <option value="03">三月</option>
          <option value="04">四月</option>
          <option value="05">五月</option>
          <option value="06">六月</option>
          <option value="07">七月</option>
          <option value="08">八月</option>
          <option value="09">九月</option>
          <option value="10">十月</option>
          <option value="11">十一月</option>
          <option value="12">十二月</option>
        </select>

        <select name="classification" class="ml-2">
          <option value="fa-home">家居物業</option>
          <option value="fa-shuttle-van">交通出行</option>
          <option value="fa-grin-beam">休閒娛樂</option>
          <option value="fa-utensils">餐飲食品</option>
          <option value="fa-pen">其他</option>
        </select>
      </div>
      <div class="col-md-3 ml-3">
        <button type="submit" style="width:100px; background-color: orange"
          class="btn border border-dark text-white">搜尋</button>
      </div>
    </div>
  </div>
</form>

<div class="container mt-3">
  <div class="d-flex row justify-content-center">
    <div class="col-md-2 ml-10">
      <h6>總金額 :</h6>
    </div>
    <div class="col-md-4 text-right">
      <h1 class="text-warning ">{{totalAmount}}</h1>
    </div>
  </div>
</div>
{{#each Records}}
<div class="container" style="height: 80px">
  <div class="d-flex row justify-content-center">
    <div class="col-md-3"></div>
    <div class="bg-light row col-md-6">
      <div class="col-md-2 pl-2" style="height: 80px">
        <i class="fas {{{this.category}}} fa-3x text-info pt-3"></i>
      </div>

      <div class="col-md-8" style="height: 80px">
        <h5 class="pt-3">
          {{{this.name}}}{{#if this.merchant}}, from:{{{this.merchant}}} {{/if}}
        </h5>
        <h6>
          {{{this.date}}}
        </h6>
      </div>

      <div class="col-md-2" style="height: 80px">
        <h2 class="pt-4 text-left align-middle">
          {{{this.amount}}}
        </h2>
      </div>
    </div>
    <div class="col-md-3">
      <a href="/records/{{{this.id}}}/edit" class="btn mt-4">修改</a>
      <form action="/records/{{{this.id}}}/delete?_method=DELETE" method="post" style="display:inline">
        <button type="submit" class="btn mt-4">刪除</button>
      </form>
    </div>
  </div>
</div>
{{/each}}
<div class="container text-center mt-3">

  <a type="button" href="/records/new" class="btn border border-dark text-white"
    style="width:300px; background-color: orange">新增支出</a>
</div>